.resume-heading {
    text-align: center;
    text-decoration: underline;
  }

.education-heading{
    text-align: left;
    text-decoration: underline;
}

.skill-heading{
  text-align: left;
  text-decoration: underline;
}